name: CI Build

concurrency:
  # 워크플로우 이름, 이벤트 이름, 브랜치(ref)를 조합하여 그룹핑.
  # 동일한 그룹에서 새로운 작업이 시작되면 동시 실행을 막기 위해 이전 실행을 자동으로 취소함.
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  # 머지큐에서 실행된 경우에는 중복 실행시에도 취소하지 않음.
  cancel-in-progress: ${{ github.event_name != 'merge_group' }}

on:
  # Pull Request(PR)가 생성되거나, 기존 PR에 새로운 커밋이 푸시(업데이트)되거나, 닫혔던 PR이 
  # 다시 열릴 때 실행됨.
  pull_request:
  # main 브랜치로 직접 커밋을 Push 하거나, PR이 main 브랜치로 Merge 되어 새로운 커밋이 생겼을 
  # 때 실행됨. PR 단계에서 이미 CI 빌드를 통과 했더라도 해당 PR이 main 브랜치에 병합 되기 전까지
  # 시간차가 존재할 수 있기 때문에, main 브랜치에 새로운 커밋이 생길 때마다 CI 빌드를 다시 실행해야 
  # 한다.
  push:
    branches:
    - main
    - "!gh-readonly-queue/**"
  # 수동으로 원할 때 직접 워크플로우를 실행 가능.
  workflow_dispatch:
  # PR을 main 브랜치의 Merge Queue에 추가 했을 때 실행됨.
  merge_group:
    branches: [main]

env:
  REGISTRY: ghcr.io
  REPOSITORY: ${{ github.repository }}
  IMAGE_IDENTIFIER: bear-go

jobs:
  build:
    name: Build
    runs-on: lab-actions-runner
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hardened Images Registry (dhi.io)
        uses: docker/login-action@v3
        with:
          registry: dhi.io
          username: ${{ secrets.DHI_REGISTRY_USERNAME }}
          password: ${{ secrets.DHI_REGISTRY_PASSWORD }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pre-build image and build apps in devcontainer
        uses: devcontainers/ci@v0.3
        with:
          imageName: ${{ env.REGISTRY }}/${{ env.REPOSITORY }}
          cacheFrom: ${{ env.REGISTRY }}/${{ env.REPOSITORY }}
          push: always
          runCmd: |
            test -z $(gofmt -l .)
            staticcheck ./...
            go build ./...